@import url("./reset.css");
@import url("./variable.css");

body{
    font-family: var(--fontPoppins);
}
.header{
    height: 102px;
    background-color: var(--mainwhite);
    border: 1px solid var(--silver10);
    padding: 31px 32px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--maincolor);
font-size: 29px;
font-weight: 700;
line-height: normal;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 168px;
}
.nav-title{
    color: var(--maincolor);
font-size: 16px;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.nav-pain{
    display: flex;
    gap: 80px;
}
.home-img{
    width: 100%;
    height: 100%;
}
.btn-hed {
    border-radius: 6px;
    background-color: var(--maincolor);
    border: none;
    padding: 10px 26px;
   

}
.btn-hed1{
    font-family: poppins;
    font-size: 13px;
font-weight: 400;
line-height: normal;
color: var(--mainwhite);

}
.section1{
    position:relative;
}
.sec-1{
    background-color: rgba(16, 144, 203, 0.10);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 24px;
}
.title-1{
    padding: 120px;
}
.title-1-1 {
    color:var(--mainblack);
font-size: 40px;
font-weight: 600;
line-height: normal;
}
.mob-title{
    color: var(--maincolor);
font-size: 40px;
font-weight: 600;
line-height: normal;
}
.subtitle-1-1{
    color:var(--silver);
font-size: 16px;
font-weight: 400;
line-height: 204.3%; /* 32.688px */
margin-bottom: 64px;
}
.ellipse1{
    position: absolute;
    bottom: -90px;
}
.ellipse2{
    position: absolute;
    right: -0px;
    bottom: -20px;
}
.btn-cnt{
    border-radius: 10px;
    background-color: var(--maincolor);
    border: none;
    padding: 10px 54px;
    color:var(--mainwhite);
font-size: 16px;;
font-weight: 400;
line-height: 204.3%; /* 32.688px */
cursor: pointer;
margin-right: 14px;

}
.btn-vw{
    border-radius: 10px;
border: 1px solid var(--maincolor);
background:var(--mainwhite);
color:var(--maincolor);
font-size: 16px;
font-weight: 400;
line-height: 204.3%; /* 32.688px */
    cursor: pointer;
    padding: 10px 54px;
}
    
.regtangels{
    background-color: var(--mainwhite);
    height: 170px;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 29px;
    padding: 44px 130px;
    height: 170px;
    border-bottom: 1px solid var(--silver);
}
/*SECTION-2*/
.section-2{
    background-color: var(--mainwhite);
    padding-top: 100px;
}
.h3{
    color: var(--black1);
text-align: center;
font-size: 33px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 52.8px */
}
.sec-2-title{
    color:var(--silver20);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 31.5px */
}
.sec-2{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
/*SECTION3*/
.section-3{
    
    position: relative;
}
.third-card-1{
    
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 180px;
    top: 76px;
    
}
.phone{
    position: relative;
    z-index: 0;
    right: -1274px;
    width: 244px;
    height: 505px;
    bottom: -60px;
}
/*SECTION4*/
.sec-4{
    position: absolute;
    left: -100px;
    bottom: -60px;
}
.sec-5{
    position: absolute;
    bottom: -700px;
}
/*SECTION6*/
.poster{
    position: absolute;
    bottom: -2910px;
    right: 156px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.pos-text-1{
    color: var(--black1);
text-align: center;
font-size: 25px;
font-weight: 600;
line-height: 170%; /* 42.5px */

}
.pos-text-2{
    color: var(--mainwhite);
text-align: center;
font-size: 25px;
font-weight: 600;
line-height: 170%; /* 42.5px */

}
.pos-subtit-1{
    color:var(--silver40);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 170%; /* 27.2px */
margin-top: 36px;
margin-bottom: 47px;
}
.pos-subtit-2{
    color:var(--mainwhite);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 170%; /* 27.2px */
margin-top: 36px;
margin-bottom: 47px;
}

.poster-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 64px 104px;
background:var(--silver30);
width: 572px;
height: 459px;


}
.poster-2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 64px 104px;
background:var(--maincolor);
width: 572px;
height: 459px;
}
.ring{
    position: absolute;
    z-index: 1;
    right: 30px;
    top: -75px;
}
.pos-btn1{
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
background:var(--maincolor);
border: none;
width: 153px;
height: 49px;
color:var(--mainwhite);
padding: 11px 35px;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 170%; /* 27.2px */
}
.pos-btn2{
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
background:var(--mainwhite);
border: none;
width: 153px;
height: 49px;
color:var(--maincolor);
padding: 11px 35px;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 170%; /* 27.2px */
}
/*SECTION7*/
.section-7{
    position: absolute;
    bottom: -3200px;
    right: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sec-7-h3{
    color:var(--mainblack);
font-size: 24px;
font-weight: 500;
line-height: 159%; /* 38.16px */
}
.sec-7-post{
    display: flex;
    flex-direction: row;
    gap: 115px;
}
/*SECTION8*/
.section-8{
    background-color: var(--backround);
    position: relative;
    bottom: -2200px;
    height: 534px;

}
.sec-8{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.sec-8-h3{
    position: absolute;
    right: 390px;
    bottom: -250px;
    color:var(--black1);
text-align: center;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 170%; /* 51px */
}
.form-control{
    padding: 20px;
    border-radius: 10px;
background-color:var(--mainwhite);
box-shadow: 0px 4px 84px 0px rgba(0, 0, 0, 0.07);
width: 532px;
height: 67px;
color: var(--silver50);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 27.2px */
}
.btn-blk{
    border-radius: 10px;
background: var(--mainblack);
cursor: pointer;
border: none;
width: 173px;
height: 67px;
color:var(--mainwhite);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 170%; /* 27.2px */
}
.form-control{
    border: none;
}
.type-name{
    position:absolute;
    bottom:-400px;
    right: 410px;
}
.star{
    position: absolute;
    left: -120px;
    bottom: 360px;
}
.pai{
    position: absolute;
    bottom: 290px;
}
/*Footer*/
.section-9{
    position: absolute;
    bottom: -4150px;
    display: flex;
    gap: 100px;
    padding: 82px 100px;
    
    
}
.sec-9-1{
    display: flex;
    gap: 28px;
    flex-direction: column;
}
.sec-9-2{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.sec-9-3{
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.sec-9-4{
    display: flex;
    gap: 16px;
   
}
.sec-9-1 h3{
    color: #00329B;
font-size: 16px;
font-weight: 700;
line-height: normal;
}
.sec-9-title{
    color: #515151;
font-size: 16px;
font-weight: 400;
line-height: 186.3%; /* 29.808px */
}
.sec-9-title:first-child{
    color: var(--mainblack);
font-size: 17px;
font-weight: 500;
line-height: normal;
}
.sec-9-3 h3{
    color: var(--mainblack);
font-size: 17px;
font-weight: 500;
line-height: normal;
}
.footer{
    position: absolute;
    bottom: -4150px;
    height: 81px;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
}
.foot-title{
 text-align: center;
 border-top: 1px solid #D2D2D2;
}
