@import url("./reset.css");
@import url("./variable.css");


body{
    font-family: var(--fontPoppins);
}
.header{
    height: 102px;
    background-color: var(--mainwhite);
    border: 1px solid var(--silver10);
    padding: 31px 32px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--maincolor);
font-size: 29px;
font-weight: 700;
line-height: normal;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 168px;
}
.nav-title{
    color: var(--maincolor);
font-size: 16px;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.nav-pain{
    display: flex;
    gap: 80px;
}
.home-img{
    width: 100%;
    height: 100%;
}
.btn-hed{
    border-radius: 6px;
    background-color: var(--maincolor);
    border: none;
    padding: 10px 26px;
    color: var(--mainwhite);
font-size: 13px;
font-weight: 400;
line-height: normal;
cursor: pointer;
}
/* END HEADER */

/* MAIN */
.sec-1-title{
    color: var(--maincolor);
font-size: 25px;
font-weight: 400;
line-height: normal;
}

.sec-1-title-1{
color: var(--black1);
font-size: 40px;
font-weight: 600;
line-height: 170%; /* 68px */
}
.sec-1-subtitle{
    color: var(--silver20);
font-size: 18px;
font-weight: 400;
line-height: 175%; /* 31.5px */
}
.first-layer{
    display: flex;
    gap: 70px;
    margin-top: 100px;

}
.section1{
    padding-left: 90px;
    padding-right: 132px;
    position: relative;
}
.images1{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}
.pg-2-1{
    margin-top: 86px;
}
.second-layer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 54px;
    margin-top: 60px;
    margin-bottom: 90px;
}
.ellipse-2-1{
    position: absolute;
    right: 0px;
    top: -250px;
}
.ellipse-2-2{
    position: absolute;
    left: 0px;
    bottom: -150px;
}
/* SECTION-2 */
.sec-2title{
    color:var(--maincolor);
font-size: 45px;
font-weight: 600;
line-height: 160%; /* 72px */
width: 806px;
}
.sec-2subtitle{
    color: var(--silver60);
font-size: 20px;
font-weight: 400;
line-height: 200%; /* 40px */
width: 1014px;
}
.sec-2{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-left:124px ;
    margin-top: 100px;
    
}
/* SECTION-3 */
.sec-3-title{
    color:var(--mainblack);
font-size: 30px;
font-weight: 600;
line-height: 160%; /* 48px */
}
.sec-3-subtitle{
    color:var(--silver60);
font-size: 20px;
font-weight: 400;
line-height: 200%; /* 40px */
}
.btn-vw{
    border-radius: 10px;
border: 1px solid var(--maincolor);
background:var(--mainwhite);
color:var(--maincolor);
font-size: 16px;
font-weight: 400;
line-height: 204.3%; /* 32.688px */
    cursor: pointer;
    padding: 10px 54px;
}
.sec-3-2card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 56px;
    padding: 61px 65px;
    width: 766px;
    height: 396px;
box-shadow: 0px 4px 124px 0px rgba(0, 0, 0, 0.10);
}
.section-3{
    display: flex;
    flex-direction: row;
    gap: 52px;
}
.sec-3-1{
    display: flex;
    flex-direction: column;
    gap: 40px;
padding-left: 70px;

}
.section-8{
    background-color: var(--backround);
    position: relative;
    bottom: -50px;
    height: 534px;

}
.sec-8{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.sec-8-h3{
    position: absolute;
    right: 390px;
    bottom: -250px;
    color:var(--black1);
text-align: center;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 170%; /* 51px */
}
.form-control{
    padding: 20px;
    border-radius: 10px;
background-color:var(--mainwhite);
box-shadow: 0px 4px 84px 0px rgba(0, 0, 0, 0.07);
width: 532px;
height: 67px;
color: var(--silver50);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 27.2px */
}
.btn-blk{
    border-radius: 10px;
background: var(--mainblack);
cursor: pointer;
border: none;
width: 173px;
height: 67px;
color:var(--mainwhite);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 170%; /* 27.2px */
}
.form-control{
    border: none;
}
.type-name{
    position:absolute;
    bottom:-400px;
    right: 410px;
}
.star{
    position: absolute;
    left: -120px;
    bottom: 360px;
}
.pai{
    position: absolute;
    bottom: 290px;
}
/* END MAIN */
/*Footer*/
.section-9{
    
    display: flex;
    gap: 100px;
    padding: 82px 100px;
    
    
}
.sec-9-1{
    display: flex;
    gap: 28px;
    flex-direction: column;
}
.sec-9-2{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.sec-9-3{
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.sec-9-4{
    display: flex;
    gap: 16px;
   
}
.sec-9-1 h3{
    color: #00329B;
font-size: 16px;
font-weight: 700;
line-height: normal;
}
.sec-9-title{
    color: #515151;
font-size: 16px;
font-weight: 400;
line-height: 186.3%; /* 29.808px */
}
.sec-9-title:first-child{
    color: var(--mainblack);
font-size: 17px;
font-weight: 500;
line-height: normal;
}
.sec-9-3 h3{
    color: var(--mainblack);
font-size: 17px;
font-weight: 500;
line-height: normal;
}
.footer{
    height: 81px;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
}
.foot-title{
 text-align: center;
 border-top: 1px solid #D2D2D2;
}

