:root {
    /*Colors*/

    --maincolor:#1090CB;
    --backround: #E8F4FA;
    --mainwhite:#ffffff;
    --mainblack:#000000;
    --black1:#252525;
    --silver:#5C5C5C;
    --silver10:#C4C4C4;
    --silver20: #868686;
    --silver30:#f4f4f4;
    --silver40:#545454;
    --silver50:#787878;



    /*Fonts*/
    --fontPoppins:'Poppins', sans-serif;
}