:root {
    /*Colors*/

    --maincolor:#1090CB;
    --mainwhite:#ffffff;
    --mainblack:#000000;
    --black1:#252525;
    --silver:#5C5C5C;
    --silver10:#C4C4C4;
    --silver20: #868686;



    /*Fonts*/
    --fontPoppins:'Poppins', sans-serif;
}