:root {
    /*Colors*/

    --maincolor:#1090CB;
    --backround: #E8F4FA;
    --mainwhite:#ffffff;
    --mainblack:#000000;
    --black1:#252525;
    --black2: #333333;
    --silver:#5C5C5C;
    --silver10:#C4C4C4;
    --silver20: #868686;
    --silver30:#f4f4f4;
    --silver40:#545454;
    --silver50:#787878;
    --silver60:#585858;
    --silver70:#696969;
    --silver80:#424242;
    --silver90:#777777;
    --silver100:#c2c2c2;
    --silver110:#4f4f4f;
    --bluefont:#00329B;



    /*Fonts*/
    --fontPoppins:'Poppins', sans-serif;
}